<!doctype html>
<html lang="en-US">
<%- include("../../public/partials/head.ejs"); %>

<body
    class="has-background-light is-flex is-flex-direction-column is-justify-content-space-between is-align-items-center"
    style="min-height: 100vh; margin: 0;">

    <div class="container has-text-centered mt-6">
        <h1 class="title is-1 has-text-danger">404</h1>
        <p class="subtitle is-4 has-text-grey">Page Non Trouvée</p>
        <p class="has-text-grey">Désolé, la page que vous recherchez peut avoir
            été supprimée, temporairement indisponible ou déplacée vers une
            autre URL.</p>
        <a href="/" class="button is-link mt-4">Retour à la page d'accueil</a>
    </div>
    <%- include("../../public/partials/footer.ejs"); %>
</body>

</html>