<footer class="footer has-background-light">
    <div class="columns is-mobile is-centered">
        <div class="column is-narrow">
            <div class="icon" onclick="document.location.href='/URL_UN'">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
        </div>
        <div class="column is-narrow">
            <div class="icon" onclick="document.location.href='/URL_DEUX'">
                <i class="fa-solid fa-house"></i>
            </div>
        </div>
        <div class="column is-narrow">
            <div class="icon" onclick="document.location.href='/URL_TROIS'">
                <i class="fa-solid fa-user"></i>
            </div>
        </div>
    </div>
</footer>