<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        <%= title || "Projet logistique" %>
    </title>
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.4/css/bulma.min.css">
    <link rel="icon" type="image/x-icon" href="https://i.imgur.com/VdbmXBk.png">
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css"
        integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://localhost:1111/local-cdn/css/style.css" rel="stylesheet">

    <script type="module" nonce="bm9uY2Vxc3NxcXNxc2RmYmZoQVpF">
        // Add "<wc-toast></wc-toast>" to the body
        document.body.innerHTML += "<wc-toast></wc-toast>";

        import {
            toast
        } from 'https://cdn.skypack.dev/wc-toast';

        // Ajout de la classe Toast dans "documument" pour pouvoir afficher des toasts partout
        document.toast = toast;
    </script>
</head>