<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        <%= title || "Projet logistique" %>
    </title>
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
    <link rel="icon" type="image/x-icon" href="https://i.imgur.com/VdbmXBk.png">
</head>