<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Express Delivery | Créer un compte</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../../assets/css/register.css">
    <%- include("../../public/assets/partials/toasts"); %>
</head>

<body>
    
    <div class="container">
        <div class="auth-card">
            <div class="logo">
                <img src="../../assets/images/astrodev-logo.png" alt="AstroDev Logo">
            </div>
            <h1>Créer un compte</h1>
            <p class="subtitle">Créer un compte pour utiliser la platforme</p>

            <form class="auth-form">
                <div class="form-group">
                    <input type="text" id="username"
                        placeholder="Nom d'utilisateur" required>
                </div>
                <div class="form-group">
                    <input type="email" id="email" placeholder="Adresse mail"
                        required>
                </div>
                <div class="form-group">
                    <input type="password" id="password"
                        placeholder="Mot de passe" required>
                </div>
                <div class="form-group">
                    <input type="password" id="confirm-password"
                        placeholder="Confirmation mot de passe" required>
                </div>
                <button type="submit" class="btn-primary">Créer un
                    compte</button>
            </form>

            <p class="bottom-text">
                Vous avez déjà un compte ? <a href="/login">Se connecter</a>
            </p>
        </div>
    </div>

    <script>
        // On obtient le bouton de soumission du formulaire
        const submitBtn = document.querySelector('.btn-primary');

        // On écoute l'événement de soumission du formulaire
        submitBtn.addEventListener('click', (e) => {
            e.preventDefault();

            // On obtient les éléments du formulaire
            const form = document.querySelector('.auth-form');
            const username = document.getElementById('username').value;
            const email = document.getElementById('email').value;
            const password = document.getElementById('password').value;
            const confirmPassword = document.getElementById(
                'confirm-password').value;

            // REGEX pour détecter les valeurs vides
            const emptyRegex = /^\s*$/;
            const isEmpty = (value) => emptyRegex.test(value);

            // REGEX pour valider le nom d'utilisateur (3 char min, 20 char max, only letters and numbers)
            const usernameRegex = /^[a-zA-Z0-9]{3,20}$/;
            const isValidUsername = (username) => usernameRegex.test(
                username);

            // REGEX pour valider l'adresse mail
            const emailRegex =
                /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;
            const isValidEmail = (email) => emailRegex.test(email);

            // Validation des champs
            if (isEmpty(username) || isEmpty(email) || isEmpty(
                    password) || isEmpty(confirmPassword)) {
                document.error('Veuillez remplir tous les champs');
                return;
            };

            // On vérifie si le nom d'utilisateur est valide
            if (!isValidUsername(username)) {
                document.error(
                    "Le nom d'utilisateur est invalide : 3 caractères minimum, 20 caractères maximum, lettres et chiffres uniquement."
                );
                return;
            };

            // On vérifie si l'adresse mail est valide
            if (!isValidEmail(email)) {
                document.error("L'adresse mail est invalide.");
                return;
            };

            // On vérifie si les mots de passe correspondent
            if (password !== confirmPassword) {
                document.error(
                    "Les mots de passe ne correspondent pas.");
                return;
            };

            fetch('/api/users/register', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify({
                        username,
                        email,
                        password,
                        confirmPassword,
                    }),
                })
                .then((res) => res.json())
                .then((data) => {
                    if (data.error) {
                        document.error(data.error.message);
                    } else {
                        document.success(data.success.message);
                        setTimeout(() => {
                            window.location.href = '/login';
                        }, 3000);
                    }
                })
                .catch((e) => {
                    console.log(e);
                    document.error(
                        'Une erreur est survenue. Veuillez réessayer.',
                    );
                });

        });
    </script>
</body>

</html>